<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">

      <div class="visits">
        <% @visits.each do |visit| %>
        <div class="visit clearfix">
          <div class="visit-details">
            <span class="visit-title"><%= link_to visit.id, visit %></span>
            <span class="visit-description"><%= visit.fecha %></span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
